.venv/

.env

db.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

*.log

myapp/migrations/

.vscode/


*.egg-info/
dist/
build/

.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover

*.DS_Store
*.directory
